<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pagina de turismo A01252280</title> 
    </head>
    <body>
   
	<script src="https://unpkg.com/vue@3"></script>

	<div id="app">
   		<h3>Mejores lugares a viajar segun que temporada</h3>
    	<ul>
        	<li v-for="task in filteredTasks" :key="task.id">
            	<input type="checkbox" v-model="task.done">
            	<span :class="{ done: task.done }">{{ task.text }}</span>
        	</li>
    	</ul>
    	<button @click="toogleHideCompleted">
        	{{ hideCompleted ? 'Ocultar lugares' : 'mostrar lugares' }}
    	</button>

		<h3>lugares seleccionados</h3>
    	<ul>
        	<li v-for="lugar in filteredLugares" :key="lugar.id">
            	{{ lugar.text }}
        	</li>
    	</ul>
	</div>



	<!---season-->
	<div id="app3">
		<h3>Temporada actual del año!!! </h3>
		<p ref="sea">hello</p>
	</div>

	<style>
    	.done { text-decoration: underline overline red; }
	</style>

	<script>
    	let id = 0;
    	Vue.createApp({
        	data(){
            	return {
                	hideCompleted: false,
                	tasks: [
                    	{ id: id++, text: 'primavera', done: false },
                    	{ id: id++, text: 'verano', done: false },
                    	{ id: id++, text: 'otoño', done: false },
                    	{ id: id++, text: 'invierno', done: false },
						{ id: id++, text: 'cualquier temporada', done: false }	
						],

					lugares:[
					{ id: id++, text: 'primavera', done: false },
                    { id: id++, text: 'verano', done: false },
                    { id: id++, text: 'otoño', done: false },
                    { id: id++, text: 'invierno', done: false },
					{ id: id++, text: 'cualquier temporada', done: false }	

					]
            	}
        	},
        	methods: {
            	toogleHideCompleted(){
                	this.hideCompleted = !this.hideCompleted
            	},
				toogleHideSelected(){
                	this.hideCompleted = !this.hideCompleted
            	}
        	},
        	computed: {
            	filteredTasks() {
                	return this.hideCompleted
                    	? this.tasks.filter(p => !p.done)
                    	: this.tasks
            	},
				filteredLugares(){
					return this.hideCompleted
						? this.lugares
						: this.tasks.filter(p => !p.done)
				}

        	},
    	}).mount('#app')


		Vue.createApp({
        	
            	mounted(){
					var today = new Date();
			
					this.$refs.sea.textContent = 'invierno'

					if ( 3 <= today.getMonth()) {
						this.$refs.sea.textContent = 'primavera'
    				}

    				if (6 <= today.getMonth()) {
						this.$refs.sea.textContent = 'Verano'
    				}

    				if (9 <= today.getMonth()) {
						this.$refs.sea.textContent = 'Otoño'
   					 }			
				}
        
    	}).mount('#app3')



	</script>
   </body>
</html>